body {
    background-color: rgb(7, 7, 7);
  }
  
  header,
  footer {
    color: lightseagreen;
    text-align: center;
    font-style: normal;
    font-family: fantasy;
  }
  header {
    font-size: 75px;
  }
  footer  {
    font-size: 25px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .main {
    margin-top: auto; /* Add a top margin to avoid content overlay */
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
  }

 