      body {
        background-color: white;
      }
      
      header,
      footer {
        color: black;
        text-align: center;
        font-style: normal;
        font-family: fantasy;
      }
      header {
        font-size: 75px;
      }
      footer  {
        font-size: 25px;
      }

      .responsive {
        width: 100%;
        height: auto;
      }